<div class="social-share">
    <ul class="socialcount socialcount-small inline-list">
        <li class="linkedin">
            <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={% if page.description %}{{ page.description }}{% endif %}"
               title="Share on LinkedIN"><span class="count"><i class="fa fa-linkedin-square"></i> Share</span></a>
        </li>
        <li class="twitter">
            <a href="https://twitter.com/intent/tweet?text={% if page.description %}{{ page.description }}{% endif %} {{ site.url }}{{ page.url }}"
               title="Share on Twitter"><span class="count"><i class="fa fa-twitter-square"></i> Tweet</span></a>
        </li>
        <li class="facebook">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
               title="Share on Facebook"><span class="count"><i class="fa fa-facebook-square"></i> Like</span></a>
        </li>
    </ul>
</div><!-- /.social-share -->